<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce CSGo</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="icon/themify-icons/themify-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- nav bar -->
    <section id="nav-bar">
        <nav id="nav" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><strong>E-commerce CSG0</strong></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Market</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#"><img src="images/steam-logo.png" alt="Steam Symbol"
                                    style="width:20px;height:20px;"> Sign Up/Log in</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!-- Profile -->
    <section id="profile">
        <h1 class="profile-title">
            <i class="ti-user"></i> PROFILE
        </h1>
        <div class="profile-body">
            <div class="profile-inf col-md-5">
                <h3 class="user-name">Name</h3>
                <h4 class="user-steam-id"><img src="images/steam-icon-2.png" alt="Steam Symbol"
                    style="width:25px;height:25px;">  Steam ID: 76561199174734846</h4>
                <h3 class="user-balance">Balance: <i class="ti-money"> </i></h3>
            </div>
            <div class="profile-func col-md-3">
                <button class="button-41" role="button"><i class="ti-money" style="color: white;"></i> Refill Balance</button>
                <button class="button-42" role="button"><i class="ti-wallet"></i>  Withdraw Money</button>
            </div>
            <div class="profile-para">
                <h3><i class="ti-download"></i> Withdraw: <i class="ti-money"></i></h3>
                    <h3><i class="ti-check-box"></i> Sold: <i class="ti-money"></i></h3>
                        <h3><i class="ti-stats-up"></i> Trades:</h3>
            </div>
        </div>  
    </section>

</body>

</html>