<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/blog.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="icon/themify-icons/themify-icons.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
</head>

<body>
    <!-- nav bar -->
    <section id="nav-bar">
        <nav id="nav" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><strong><img src="images/E-icon.png" alt="E-commerce Symbol"
                                style="width:32px;height:32px;">- commerce CSGO</strong></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <li class="active"><a href="#">Market</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#"><img src="images/steam-logo.png" alt="Steam Symbol"
                                    style="width:20px;height:20px;"> Sign Up/Log in</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!-- Blog banner -->
    
    <section class = "blog-header">

        <div class = "blog-title">
            <p> <strong style = "color : #5BBD74; font-size : 35px"> E-commerce BLOG <br> </strong>
            </p>

            <span style = "color : gray; font-size : 20px"> 
                Discover the best information from skins, updates, tournaments and a lot more 
                <br>
            </span>  

            <span style = "color : gray; font-size : 20px"> New blog out every Tuesday, stay tunned ! </span>
            <br> <br>
        
            <div class="box">
                <form action="" method="get">
                    <input type="text" class="input" name="txt" placeholder = "What are you looking for ?">
                </form>
            </div>
        </div>    
        
    
    </section>

    <section class = "blogs-section">
        <div style = "display : inline-block">
            <div style = "margin-bottom : 70px"> 
                <strong class = "blog-title" style = "color : #5BBD74; font-size : 30px; padding-left : 0%"> Gaming Guides, Articles And Updates </strong>
            </div>

            <div class = "news-grid">
                <div class = "single-article">
                    <a href = "/View/blog article/best-keyboard.html" alt = "best-keyboards-for-csgo">
                        <div>
                            <img class = "single-article-image" src = "images/article-img/best-keyboards-for-csgo.png" alt = "best-keyboards-for-csgo">
                        </div>
                        
                        <div class = "single-article-info">
                            <div>
                                <div style = "display : block; margin-bottom : 10px">
                                    <strong class = "article-title"> The Best Keyboards for CS:GO </strong>
                                    <br> <br>
            
                                </div>

                                <div class = "logo-section">
                                    <img class = "logo-img" src = "images/Logo-circle.png" alt = "logo">
                                </div>
                                <div class = "single-article-author">
                                    <span style = "color : #e2e2e2; font-size : 18px"> E-Commerce CSGO </span>
                                    <p style = "color: #758394;"> December 15, 2022</p>
            
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>

                <div class = "single-article" style = "margin-top : 0px">
                    <a href = "/View/blog article/CSGO-tradeup-guide.html" alt = "trade-up-contract-guide">
                        <div>
                            <img class = "single-article-image" src = "images/article-img/trade-up-contract.png" alt = "rade-up-contract-guide">
                        </div>
                        
                        <div class = "single-article-info">
                            <div>
                                <div class = "single-article-title" style = "display : block; margin-bottom : 10px">
                                    <strong class = "article-title"> CS:GO Trade Up Contracts Guide </strong>
                                    <br> <br>
            
                                </div>

                                <div class = "logo-section">
                                    <img class = "logo-img" src = "images/Logo-circle.png" alt = "logo">
                                </div>
                                <div class = "single-article-author">
                                    <span style = "color : #e2e2e2; font-size : 18px"> E-Commerce CSGO </span>
                                    <p style = "color: #758394;"> December 5, 2022</p>
            
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>

                <div class = "single-article" style = "margin-top : 0px">
                    <a href = "/View/blog article/csgo-update-november.html" alt = "CSGO Update for November">
                        <div>
                            <img class = "single-article-image" src = "images/article-img/update-november.png" alt = "update-november-image">
                        </div>
                        
                        <div class = "single-article-info">
                            <div>
                                <div class = "single-article-title" style = "display : block; margin-bottom : 10px">
                                    <strong class = "article-title"> CSGO Update of November 2022 </strong>
                                    <br> <br>
            
                                </div>

                                <div class = "logo-section">
                                    <img class = "logo-img" src = "images/Logo-circle.png" alt = "logo">
                                </div>
                                <div class = "single-article-author">
                                    <span style = "color : #e2e2e2; font-size : 18px"> E-Commerce CSGO </span>
                                    <p style = "color: #758394;"> November 22, 2022</p>
            
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>

                <div class = "single-article" style = "margin-top : 0px">
                    <a href = "/View/blog article/outsider-champion.html" alt = "Outsider-major-champion">
                        <div>
                            <img class = "single-article-image" src = "images/article-img/Outsider-major-champion.png" alt = "Outsider-major-champion-image">
                        </div>
                        
                        <div class = "single-article-info">
                            <div>
                                <div class = "single-article-title" style = "display : block; margin-bottom : 10px">
                                    <strong class = "article-title"> Outsiders Win IEM Rio CSGO Major 2022 </strong>
                                    <br> <br>
            
                                </div>

                                <div class = "logo-section">
                                    <img class = "logo-img" src = "images/Logo-circle.png" alt = "logo">
                                </div>
                                <div class = "single-article-author">
                                    <span style = "color : #e2e2e2; font-size : 18px"> E-Commerce CSGO </span>
                                    <p style = "color: #758394;"> November 14, 2022</p>
            
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>

                <div class = "single-article">
                    <a href = "/View/blog article/new-recoil-case.html" alt = "recoil-case">
                        <div>
                            <img class = "single-article-image" src = "images/article-img/recoil-case.png" alt = "recoil-case">
                        </div>
                        
                        <div class = "single-article-info">
                            <div>
                                <div class = "single-article-title" style = "display : block; margin-bottom : 10px">
                                    <strong class = "article-title"> New Case in CS:GO: The Recoil Case </strong>
                                    <br> <br>
            
                                </div>

                                <div class = "logo-section">
                                    <img class = "logo-img" src = "images/Logo-circle.png" alt = "logo">
                                </div>
                                <div class = "single-article-author">
                                    <span style = "color : #e2e2e2; font-size : 18px"> E-Commerce CSGO </span>
                                    <p style = "color: #758394;"> July 1, 2022</p>
            
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>

                <div class = "single-article">
                    <a href = "/View/blog article/ssg-under-10.html" alt = "best-ssg08-skins">
                        <div>
                            <img class = "single-article-image" src = "images/article-img/best-ssg08-skins.png" alt = "best-ssg08-skins-image">
                        </div>
                        
                        <div class = "single-article-info">
                            <div>
                                <div class = "single-article-title" style = "display : block; margin-bottom : 10px">
                                    <strong class = "article-title"> The Best SSG 08 Skins under $10  </strong>
                                    <br> <br>
            
                                </div>

                                <div class = "logo-section">
                                    <img class = "logo-img" src = "images/Logo-circle.png" alt = "logo">
                                </div>
                                <div class = "single-article-author">
                                    <span style = "color : #e2e2e2; font-size : 18px"> E-Commerce CSGO </span>
                                    <p style = "color: #758394;"> June 22, 2022</p>
            
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>

                <div class = "single-article">
                    <a href = "/View/blog article/best-butterfly-knife.html" alt = "best-butterfly-knife-skins">
                        <div>
                            <img class = "single-article-image" src = "images/article-img/best-butterfly-knife-skins.PNG" alt = "best-butterfly-knife-skins-image">
                        </div>
                        
                        <div class = "single-article-info">
                            <div>
                                <div class = "single-article-title" style = "display : block; margin-bottom : 10px">
                                    <strong class = "article-title"> The Best Butterfly Knife Skins To Have </strong>
                                    <br> <br>
            
                                </div>

                                <div class = "logo-section">
                                    <img class = "logo-img" src = "images/Logo-circle.png" alt = "logo">
                                </div>
                                <div class = "single-article-author">
                                    <span style = "color : #e2e2e2; font-size : 18px"> E-Commerce CSGO </span>
                                    <p style = "color: #758394;"> May 15, 2022</p>
            
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>

                <div class = "single-article">
                    <a href = "/View/blog article/best-maps.html" alt = "best-csgo-maps">
                        <div>
                            <img class = "single-article-image" src = "images/article-img/best-map.png" alt = "best-map">
                        </div>
                        
                        <div class = "single-article-info">
                            <div>
                                <div class = "single-article-title" style = "display : block; margin-bottom : 10px">
                                    <strong class = "article-title"> The Best 5 CS:GO Maps </strong>
                                    <br> <br>
            
                                </div>

                                <div class = "logo-section">
                                    <img class = "logo-img" src = "images/Logo-circle.png" alt = "logo">
                                </div>
                                <div class = "single-article-author">
                                    <span style = "color : #e2e2e2; font-size : 18px"> E-Commerce CSGO </span>
                                    <p style = "color: #758394;"> April 22, 2022</p>
            
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>

            </div>

        </div>

        <div class = "latest-reviews">
            <p style = "font-size : 30px; color : white; margin-bottom : 30px"> Latest Reviews </p>
            <li class="c-aside-news__item">
                <a href="https://dmarket.com/blog/best-keyboards-for-csgo/">The Best Keyboards for CS:GO</a>
                <span class="c-aside-news__date">December 15, 2022</span>
            </li>

            <li class="c-aside-news__item">
                <a href="https://dmarket.com/blog/csgo-trade-up-contracts-guide/">CS:GO Trade Up Contracts Guide</a>
                <span class="c-aside-news__date">December 5, 2022</span>
            </li>

            <li class="c-aside-news__item">
                <a href="https://blog.counter-strike.net/index.php/2022/11/40472/">CSGO Update of November 2022</a>
                <span class="c-aside-news__date">November 11, 2022</span>
            </li>

            <li class="c-aside-news__item">
                <a href="https://dmarket.com/blog/best-keyboards-for-csgo/">Outsiders Win IEM Rio CSGO Major 2022 </a>
                <span class="c-aside-news__date">November 14, 2022</span>
            </li>

            <li class="c-aside-news__item">
                <a href="https://dmarket.com/blog/csgo-recoil-case/">New Case in CS:GO: The Recoil Case</a>
                <span class="c-aside-news__date">July 1, 2022</span>
            </li>
        </div>

    </section>
       
    <section class = "pagination-section">
           <ul class = "c-pagination__list">                      
                <li class="c-pagination__item c-pagination__item--active">
                        <a class="c-pagination__link" href="/blog.html">1</a>
                </li>
                 <li class="c-pagination__item ">
                    <a class="c-pagination__link " href="/blog/page/2.html">2</a>
                 </li>     
            </ul>
    </section>

    <section id = "footer">
        <footer class = "text-center text-lg-start bg-white text-muted">
            <!-- Section: Links  -->
            <section class="ft-content">
                <div class="container text-left text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-5 col-xl-5 mx-auto mb-4">
                            <!-- Content -->
                            <h4 class="text-uppercase fw-bold mb-4">
                                <i class="me-3 text-secondary"></i>E-commerce CSGo
                            </h4>
                            <p>
                                Linh Trung Ward, Thu Duc City, Vietnam
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h4 class="text-uppercase fw-bold mb-4">
                                ABOUT
                            </h4>
                            <p>
                                <a href="#!" class="text-reset">Terms of Use</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Privacy Policy</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h4 class="text-uppercase fw-bold mb-4">
                                FOLLOW US
                            </h4>
                            <p>
                                <a href="#!" class="text-reset"><i class="ti-facebook"></i> Facebook</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset"> <i class="ti-twitter"></i> Twitter</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset"><i class="ti-instagram"></i> Instagram</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h4 class="text-uppercase fw-bold mb-4">NEED MORE HELP?</h4>
                            <p><i class="me-3 text-secondary"></i> CONTACT US</p>
                            <p>
                                <i class="me-3 text-secondary"></i>
                                ecommercecsgo@support.com
                            </p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="copyright text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                <p>
                    <img src="images/steam-logo.png" alt="Steam Symbol" style="width:15px;height:15px;">
                    E-commerce CSGO is not affiliated with or endorsed by Valve corporation
                </p>
            </div>
            <!-- Copyright -->
        </footer>

</body>

</html>