<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce CSGo</title>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">

    <link rel="stylesheet" href="icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- nav bar -->
    <section id="nav-bar">
        <nav id="nav" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><strong>E-commerce CSGO</strong></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <li class="active"><a href="#">Market</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#"><img src="images/steam-logo.png" alt="Steam Symbol"
                                    style="width:20px;height:20px;"> Sign Up/Log in</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section id="inventory">
        <h1 class="inventory-title">
            <img src="/images/sell_inventory_icon.svg" alt="inventory-icon" style="width: 35px;"> Inventory
        </h1>
        <div class="inventory-place">
            <form action="" method="get">
                <div class="search-section">
                    <div class="search-bar">
                        <i class="ti-search"> </i>
                        <input type="text" name="search" value="" placeholder="Search">
                    </div>
                    <div class="search-filter">
                        <i class="ti-filter"></i>
                        <select name="Sort">
                            <option value="">Sort by</option>
                            <option value="priceAsc">Price Up</i></option>
                            <option value="priceDesc">Price Down</i></option>
                        </select>
                    </div>
                </div>
            <div class="inventory-items">
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Butterfly Knife Doppler</h4>
                        <h4 class="item-price"><i class="ti-money"></i> 123.86</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-bottom">
                        Float: 0.111111111111311
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
                <div class="item">
                    <img class="item-img card-img-top img-responsive" src="/images/tmp.png" alt="">
                    <div class="item-para-top">
                        <div class="category">
                            StatTrak
                        </div>
                        <div class="exterior">
                            Battle-Scarred
                        </div>
                    </div>
                    <div class="item-para-main">
                        <h4 class="item-name">Name</h4>
                        <h4 class="item-price"><i class="ti-money"></i>Price</h4>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>