<div>
    <!-- Banner -->
    <section id="banner">
        <div class="banner-content">
            <img class="bg-img" src="/images/Home-Background.png" alt="Home background">
            <div class="bn-content">
                <h1 class="welcome-content">Welcome to E-commerce CSGO<br>Best marketplace for trading your skins </h1>
                <a href="/market" style="text-decoration: none;"><button class="button-29" role="button">TO
                        MARKETPLACE</button></a>
            </div>
        </div>
    </section>
    <!-- Top skins -->
    <section id="top-skins">

    </section>

    <!-- About us -->
    <section id="about-us">
        <div class="au-content">
            <h1 class="au-title">
                About us
            </h1>
            <p class="au-text">
                We are the best CSGO marketplace in the world, don't ask why.
                <br>Why use our site? Because other sites are dogshit, we're the best.
            </p>
        </div>
        <div class="au-member au-content">
            <h1 class="au-title">
                Members
            </h1>
            <div class="member-list">
                <div class="member-item">
                    <img src="/images/avatar.png" alt="avatar" class="member-avt">
                    <p class="member-name">Nguyễn Huỳnh Phú Thịnh</p>
                </div>
                <div class="member-item">
                    <img src="/images/avatar.png" alt="avatar" class="member-avt">
                    <p class="member-name">Võ Minh Hiếu</p>
                </div>
                <div class="member-item">
                    <img src="/images/avatar.png" alt="avatar" class="member-avt">
                    <p class="member-name">Phạm Tấn Anh Vũ</p>
                </div>
                <div class="member-item">
                    <img src="/images/avatar.png" alt="avatar" class="member-avt">
                    <p class="member-name">Phạm Nguyễn Khánh Minh</p>
                </div>
                <div class="member-item">
                    <img src="/images/avatar.png" alt="avatar" class="member-avt">
                    <p class="member-name">Phạm Dương Trường Đức</p>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    $("#navhome").addClass('active')
</script>