* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #161b25 !important;
    box-sizing: inherit;
    position: relative;
    min-height: 100%;
    padding-bottom: 20rem;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar-brand{
    color: #49bc74 !important;
}

.navbar-brand:hover{
    text-shadow:1px 1px rgba(255, 255, 255, 0.9);
}



.dropdown-menu{
    background-color: #222 !important;
    width: 100px !important;
}

.dropdown-item{
    color: #9d9d9d !important;

}
.dropdown-item:hover{
    color: white !important;
    background-color: black !important;
}


#support{
    position: fixed;
    right: 12px;
    bottom: 24px;
    z-index: 12;
}

#support:hover{
    bottom: 28px;
}
.mess-icon{
    width: 8rem;
    height: 8rem;
    opacity: 0.6;
}

.mess-icon:hover{
    opacity: 1;

}


/* home banner */
#banner {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 0%;
}

.banner-content {
    overflow: hidden;
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 15%;
}

.bg-img {
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.bn-content {
    position: relative;
}

.welcome-content {
    font-size: 5vw;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 1);
}

/* CSS */
.button-12 {
  display: inline;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.button-29 {
    margin-top: 8rem;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 7rem;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 3rem;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

/* CSS */
.button-41 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #00D775, #00BD68);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    font-size: 18px;
}

.button-41:hover {
    background: #00bd68;
}


.button-42 {
    background-color: #161b25;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 1px solid #00bd68;
    font-size: 18px;
    margin-top: 3rem;
}

.button-42:active,
.button-42:hover {
    outline: 0;
}

.button-42:hover {
    background-color: #20413d;
    border-color: rgba(0, 0, 0, 0.19);
}


/* CSS */
.button-46 {
    margin-top: 3rem;
    align-items: center;
    background-color: #161b25;
    border: 1px solid #00bd68;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    justify-content: center;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 44px;
    line-height: 44px;
}

.button-46:active,
.button-46:hover {
    outline: 0;
}

.button-46:hover {
    background-color: #20413d;
    border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
    .button-46 {
        font-size: 20px;
        min-width: 200px;
        padding: 14px 16px;
    }
}

/* About us */
.au-content {
    color: white;
    padding: 4rem 3rem;
}

.au-title {
    font-size: 5rem;
    font-weight: 400;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

.au-text {
    font-size: 2.5rem;
    line-height: 1.4;
}

.member-list {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.member-item {
    flex-basis: 16%;
    text-align: center;
}

.member-avt {
    padding-bottom: 1rem;
    width: 80%;
    border-radius: 50%;
}

.member-name {
    font-size: 1.5rem;
}




/* footer */

#footer {
    background-color: #28292b;
    position: absolute;
    clear: both;
    bottom: 0;
    right: 0;
    left: 0;
}

.ft-content {
    color: white;
    font-weight: bold;
}

.copyright {
    margin: 0;
    border-top-style: solid;
    border-width: 1px;
    border-color: #4670c3;
    padding-top: 8px;
    padding-bottom: 1px;
}

#footer a {
    text-decoration: none;
    color: #c0c0c0;
}

#footer a:hover {
    color: #e0990f;
}

#footer h4 {
    font-weight: 800;
}

#footer p {
    color: #c0c0c0;
}

/* ----------- Market ------------- */

#market {
    padding-top: 75px;
    color: white;
    line-height: 1.4;
}

.market-container{
    height: 1300px;
}


/* ---------- Filter -------------- */
.filter {
    background-color: #1a242e;
    padding: 12px 24px;
    box-shadow: rgba(58, 65, 111, .5);
}


.filter-title {
    text-align: center;
    padding-bottom: 8px;
    font-weight: 700;
}

.title-i-color{
    color: #25daa5;
}

.filter-title i {
    color: #25daa5;
}

.filter-content label {
    font-weight: 100;
}

.filter-content .filter-subtitle {
    text-align: left;
    font-weight: 900;
    color: #25daa5;
}


.filter-title-row {
    display: flex;
    justify-content: space-between;
}

.filter-title-row a {

    color: white;
    text-decoration: none;
}

.filter-col {
    display: flex;
    justify-content: space-between;
}


#filter-btn {
    display: none;
    background-color: #161b25;
    border: 1px solid #25daa5;
    border-radius: 5px;
}

/* filter range */
.range_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
}

.sliders_control {
    position: relative;
    min-height: 25px;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {

    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
    background-color: #282f36;
    color: #6f757f;
    border-radius: 5px;
    width: 65px;
    height: 25px;
    font-size: 12px;
    border: none;
    padding: 0 2px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#priceFromSlider {
    height: 0;
    z-index: 1;
}

#floatFromSlider {
    height: 0;
    z-index: 1;
}

.form_control_container {
    display: flex;
    justify-content: space-between;
    max-height: 20px;
    color: white;
}

.form_control_container__time {
    font-size: 15px;
    padding-right: 8px;
}




/* ------------- products result -------------------*/
.products-result {
    padding: 12px 24px;
}

.res-title {
    padding-bottom: 8px;
    font-weight: 700;
}

.search-section {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    color: #6f757f;
    padding-bottom: 2px;
    border-bottom: 1px solid #6f757f;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.search-bar input {
    background: transparent;
    border: none;
    width: 93%;
}

.search-bar input:focus {
    outline: none;
}

.search-filter {
    color: white;
    width: 15%;
    border-bottom: 1px solid #6f757f;
}

.search-filter select {
    background: transparent;
    border: none;
}

.search-filter option {
    background-color: #161b25;
    color: white;
    border: none;
}


.search-filter select:focus {
    outline: none;
}


/* items */
.market-products {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item-slot {
    position: relative;
    background-color: #1a242e;
    width: 30%;
    margin-left: calc((10%/6));
    margin-right: calc((10%/6));
    margin-bottom: 2rem;
    box-sizing: border-box;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 80%);
}

.item-slot:hover{
    box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);
}

.item-slot .item-float {
    padding: 2px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    background-color: #2d2f3e;
}

.item-img {
    background: radial-gradient(#455059, transparent);
    width: 100%;
    height: auto;
}

.item-slot .card-body {
    padding: 0 2rem 2rem;
}

.item-slot-title .item-name {
    font-size: smaller;
}

.item-slot-title .item-price {
    font-size: 2.5rem;
}

.item-slot-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-price {
    color: #e0990f;
}





/* --------------- Modal --------------- */
#item-modal .modal-content,
#inf-modal .modal-content
{
    background-color: #282f36;
    color: white;
}

#item-modal .close,
#inf-modal .close {
    color: white;
    font-size: 3rem;
    padding: 12px;
}

#item-modal .modal-header{
    text-align: center;
}

#inf-modal .modal-header{
    background-color: #20282d;
}

#inf-modal .main-regis-form{
    margin: 0;
}

.modal-header,
.modal-body,
.modal-footer {
    border: none;
}
#item-modal .modal-footer{
    display: flex;
    justify-content: center;
}

#item-modal .modal-footer .button-41{
    font-size: 2rem;
    height: 4rem;
    width: 50%;
}

.anil {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    /*opening speed*/
    -o-transition: all 0.2s linear;
    /*opening speed*/
    transition: all 0.2s linear;
    /*opening speed*/
}

.anil.in {
    opacity: 1;
    transform: scale(1);
    /*size of the div to scal after .in class attached on opening modal*/
}

.modal {
    top: 7.5% !important;
}

.item-modal-infor .item-name{
    font-size: 2.5rem;
}

.item-modal-infor .float,
.item-modal-infor .type,
.item-modal-infor .category,
.item-modal-infor .rarity,
.item-modal-infor .exterior,
.item-modal-infor .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.item-modal-infor .price{
    padding-bottom: 10px;
}
.item-modal-infor .price .item-price{
    display: flex;
    align-content: center;
    font-size: 3rem;
}

.item-modal-infor{
    line-height: 1.6;
}

input[type="submit"]{
    width: 100%;
    display: none;
}

.max-width{
    width: 100%;
}

.sub-div-center{
    display: flex;
    justify-content: center;
}

.sub-div-bettween{
    display: flex;
    justify-content: space-between;
}

.sub-div-align-center{
    display: flex;
    align-content: center;
}



/*------profile---------- */
#profile, #on-sale {
    padding: 75px 2rem 25px;
    color: white;
    line-height: 1.4;
}
.profile-body {
    background-color: #1a242e;
    padding: 4rem 4rem;
    display: flex;
    flex-wrap: wrap;
}

.profile-inf{
    position: relative;
    flex: 3;
}

.profile-inf .edit-inf-button{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    
}

.white-text{
    color: white;
}

#profile i {
    color: #25daa5;
}


.profile-func {
    margin: 0 4rem;
    padding: 2rem 3rem 3.5rem;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    box-sizing: border-box;
    flex: 1;
}


.profile-func button {
    font-size: 1.5rem;
}

.profile-inf h3 {
    line-height: 1.4;
    font-size: 2.5rem;
}

.profile-para {
    font-size: 2rem;
    line-height: 2;
    flex: 1;
}

.profile-para h3 {
    font-size: 2rem;
    line-height: 2;
}

#on-sale {
    padding: 0px 2rem 25px;
    color: white;
    line-height: 1.4;
}

#on-sale .item-para-main{
    padding-top: 0;
}



/* ---------------- Inventory ------------------- */
#inventory {
    padding: 50px 2rem 25px;
    color: white;
    line-height: 1.4;
}

.inventory-title {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 2.5rem;
}

.inventory-place {
    margin: 0 5%;
}

.inventory-place .search-bar {
    width: 40%;
}

.inventory-place .search-filter {
    width: 15%;
}

.inventory-items {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.inventory-items .item {
    margin-bottom: 2rem;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    padding: 2rem 0 0;
    background-color: #1a242e;
    width: 18%;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 80%);
}

.inventory-items .item:hover{
    box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);
}

.inventory-items .item-img {
    background: none;
    width: 100%;
}

.item-para-top {
    padding: 0.5rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;

}

.item-para-top .category,
.item-para-top .exterior {
    width: 50%;
    font-size: smaller;
}

.item-para-top .exterior {
    text-align: right;
}

.item-para-bottom {
    padding: 0.5rem;
    width: 100%;
    position: absolute;
    top: bottom;
    left: 0;
    font-size: smaller;
    background-color: #2d2f3e;
}

.item-para-main {
    padding: 2rem 0.5rem 0;
}

.item-para-main .item-price {
    font-size: 2rem;
}

.item-name {
    color: white;
    font-size: 1.5rem;
}

.modal-body .form_control_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 20px;
    color: white;
}

.modal-body .form_control_container_price {
    font-size: 14px;
    color: #6f757f;
}

.modal-body .form_control_container_price_input{
    background-color: #393f47;
    color: white;
    border-radius: 5px;
    width: 58px;
    height: 24px;
    font-size: 16px;
    border: none;
}
.modal-body .discount-container{
    background-color: #f4c262;
    height: 24px;
    width: 60px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
}


/* ------------------ Registration --------------------- */

#registration-form {
    padding: 75px 2rem 25px;
    color: white;
    line-height: 1.4;
    display: flex;
    justify-content: center;
}

.main-regis-place{
    width: 70%;
}

.main-regis-form{
    background-color: #282f36;
    border-radius: 5px;
    margin: 5px 10%;
}

.regis-title{
    text-align: center;
    background-color: #20282d;
    padding: 1px;
}

.regis-title .h2{
    font-size: 2rem;
}

.regis-body{
    margin: 0 10%;
    padding: 1rem 0;
}

.required-inf{
    padding: 5px 0;
}
.required-inf p{
    color: #46be87;
    font-size: 1.5rem;
}

.required-inf input{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #6f757f;
}

.regis-body .check-box{
    padding: 1rem 0;
}

.required-inf input:focus {
    outline: none;
}



/* ------------------- Responsive ------------------ */
@media screen and (max-width: 992px){
    body{
        padding-bottom: 50rem;
    }
}

@media screen and (max-width: 1140px) {
    .filter-col {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    #filter-btn {
        display: initial;
    }

    #filter {
        display: none;
    }

    .item-slot {
        width: 45%;
        padding: 0 1rem;
    }

    .inventory-items .item{
        width: 30%;
        margin-left: calc(10%/6);
        margin-right: calc(10%/6);
    }

    .search-filter {
        width: 25%;
    }

    .inventory-place .search-filter {
        width: 25%;
    }
    .main-regis-place{
        width: 90%;
        text-align: justify;
    }
    .profile-body{
        display: block;
    }
    .profile-func{
        border: none;
        border-top: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
    }
}

@media screen and (max-width: 576px) {
    .item-slot {
        width: 100%;
    }

    .search-filter {
        width: 40%;
    }

    .search-bar {
        width: 50%;
    }

    .inventory-items .item{
        width: 90%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .inventory-place .search-bar{
        width: 55%;
    }
    .inventory-place .search-filter {
        width: 40%;
    }
    .modal-footer{
        margin-top: 2rem;
    }
    .main-regis-place{
        width: 100%;
        text-align: justify;
    }

    #pending-modal .modal-footer{
        display: block;
    }
    #pending-modal .modal-footer .confirm-btn{
        width: 100%;
    }
}

@media screen and (min-width: 960px) {
    #filter {
        display: none;
    }
}

/*-------------------------------  BLOG -------------------------------*/


/*---------------------------------------- Blog-banner---------------------------------------*/
.blog-header {
    margin-top : 100px;
   
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(/images/blog-banner.png),linear-gradient(180deg, rgba(32,40,45,0), #1c2225);

    display : block;
    height : 240px;
}
  

.blog-title {
    margin-top : 20px;
    padding-left : 8%;
    text-align : left;
    
}  

.box{
    width : 500px;
    position: relative;

}

.input {
    padding: 20px;
    width: 240px;
    height: 40px;
    background: none;
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    
    font-size: 16px;
    color: white;
    outline: none;
    transition: .5s;
    display : flex;

}

.box:hover input {
    width: 280px;
    background: #3b3640;
    border-radius: 10px;
}

.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: gray;
    transition: .2s;
}

.box:hover i{
    opacity: 0;
    z-index: -1;
}


/*-------------------------------------------BLOGS-SECTION----------------------------------------*/
.blogs-section {
    margin-top : 50px;
    margin-left : 6%;
    height : 100%;
}

.news-grid {
    display : grid;
    grid-template-columns: repeat(auto-fit, 460px);
    width : 1000px;
    column-gap : 50px;
    
}


/*------------Signle-article--------------*/
.single-article {
    margin-top : 70px;
    background-color : rgba(110, 106, 106, 0.281);
    border : solid rgba(57, 47, 47, 0.281);
    border-width : 2px;    
}

.single-article-image {
    width : 100%;
    height : 200px;
    display : block;
}

.article-title {
    color: #5bbd74;
    width: 100%;
    font: 500 16px/1.2 "Montserrat",Arial,sans-serif;
    font-size : 19px;
}

.single-article-info {
    margin-top : 15px;
    color : white;
    display : inline-block;
}

.single-article-title {
    margin-top : 2px;    
    margin-left : 10px;
    display : inline-block;
}

.single-article-author {
    display : inline-block;
    padding-left : 10px;
    padding-top : 4px;
}


.logo-section {
    vertical-align : top;
    width : 55px;
    display : inline-block;
    padding-bottom : 10px;
}

.logo-img {
    width : 100%;
    display : inline-block;
}

/*----------------------------Latest Review---------------------------------*/

.latest-reviews {
    margin-left : 70px;
    display : inline-block;

    width : 350px;
    height : 800px;
    vertical-align : top;
    margin-top : 110px;
    padding : 10px;
}

.c-aside-news__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(207,251,255,0.1);
}

.c-aside-news__item a {
    font: 400 14px/1.2 "Montserrat",Arial,sans-serif;
    color: #5bbd74;
    font-size : 18px;
}

.c-aside-news__date {
    font-size: 13px;
    color: #758394;
    margin-top: 12px;
}

/*--------------------Thanh chuyen trang-----------------------*/

.pagination-section {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    
}

.c-pagination__list {
    display: flex;
    margin-left : 35%;
    align-items: center;
    font-size: 15px;
}

.c-pagination__item {
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    margin: 0 10px;
    width: 34px;
    height: 34px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.c-pagination__item--active {
    border: 1px solid #5bbd74;
    color: #5bbd74;
    cursor: default;
}

.c-pagination__link {
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e2e2;
    cursor: pointer;
}

.c-pagination__item--active .c-pagination__link {
    color: #5bbd74;
    pointer-events: none;
}

.c-pagination__item a {
    vertical-align: sub;
}


/* ---------------------------- Modal ------------------------------------------*/
.modal-content
{
    background-color: #282f36;
    color: white;
}

.close {
    color: white;
    font-size: 3rem;
    padding: 12px;
}

.modal-header{
    text-align: center;
}

.modal-header,
.modal-body,
.modal-footer {
    border: none;
}

#item-modal .modal-footer{
    display: flex;
    justify-content: center;
}

#item-modal .modal-footer .button-41{
    font-size: 2rem;
    height: 4rem;
    width: 50%;
}

.anil {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;

}

.anil.in {
    opacity: 1;
    transform: scale(1);
}

.modal {
    top: 7.5% !important;
}

.item-modal-infor .item-name{
    font-size: 2.5rem;
}

.item-modal-infor .float,
.item-modal-infor .type,
.item-modal-infor .category,
.item-modal-infor .rarity,
.item-modal-infor .exterior,
.item-modal-infor .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.item-modal-infor .price{
    padding-bottom: 10px;
}
.item-modal-infor .price .item-price{
    display: flex;
    align-content: center;
    font-size: 3rem;
}

.item-modal-infor{
    line-height: 1.6;
}


.modal-body .form_control_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 20px;
    color: white;
}

.modal-body .form_control_container_price {
    font-size: 14px;
    color: #6f757f;
}

.modal-body .form_control_container_price_input{
    background-color: #393f47;
    color: white;
    border-radius: 5px;
    width: 58px;
    height: 24px;
    font-size: 16px;
    border: none;
}
.modal-body .discount-container{
    background-color: #f4c262;
    height: 24px;
    width: 60px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
}

/* -------------------------------------------------------------------------------- */


/* --------------------------------- Responsive ----------------------------------- */
@media screen and (max-width: 1140px) {
    .filter-col {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    #filter-btn {
        display: initial;
    }

    #filter {
        display: none;
    }

    .item-slot {
        width: 45%;
        padding: 0 1rem;
    }

    .inventory-items .item{
        width: 30%;
        margin-left: calc(10%/6);
        margin-right: calc(10%/6);
    }

    .search-filter {
        width: 25%;
    }

    .inventory-place .search-filter {
        width: 25%;
    }
    .main-regis-place{
        width: 90%;
        text-align: justify;
    }
    .profile-body{
        display: block;
    }
    .profile-func{
        border: none;
        border-top: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
    }
}

@media screen and (max-width: 576px) {
    .item-slot {
        width: 100%;
    }

    .search-filter {
        width: 40%;
    }

    .search-bar {
        width: 50%;
    }

    .inventory-items .item{
        width: 90%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .inventory-place .search-bar{
        width: 55%;
    }
    .inventory-place .search-filter {
        width: 40%;
    }
    .modal-footer{
        margin-top: 2rem;
    }
    .main-regis-place{
        width: 100%;
        text-align: justify;
    }

    #pending-modal .modal-footer{
        display: block;
    }
    #pending-modal .modal-footer .confirm-btn{
        width: 100%;
    }
}

@media screen and (min-width: 960px) {
    #filter {
        display: none;
    }
}


/*---------------------- item image and item price ----------------------------  */
.item-img {
    background: radial-gradient(#455059, transparent);
    width: 100%;
    height: auto;
}

.item-price {
    color: #e0990f;
}

/* ----------------------------------------------------------------------------- */

/* -------------------------------------General-------------------------------- */
.title-i-color{
    color: #25daa5;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
}

input[type="number"] {
    background-color: #282f36;
    color: #6f757f;
    border-radius: 5px;
    width: 65px;
    height: 25px;
    font-size: 12px;
    border: none;
    padding: 0 2px;
}

.form_control_container {
    display: flex;
    justify-content: space-between;
    max-height: 20px;
    color: white;
}

input[type="submit"]{
    width: 100%;
    display: none;
}

.max-width{
    width: 100%;
}

.sub-div-center{
    display: flex;
    justify-content: center;
}

.sub-div-bettween{
    display: flex;
    justify-content: space-between;
}

.sub-div-align-center{
    display: flex;
    align-content: center;
}



/* --------------------------Main button------------------------------ */
.button-41 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #00D775, #00BD68);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    font-size: 18px;
}

.button-41:hover {
    background: #00bd68;
}

