<div>
    <!-- Footer -->
    <section id="footer">
        <footer class="text-center text-lg-start bg-white text-muted">
            <!-- Section: Links  -->
            <section class="ft-content">
                <div class="container text-left text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-5 col-xl-5 mx-auto mb-4">
                            <!-- Content -->
                            <img src="/images/E-icon.png" alt="E-commerce Symbol"
                                style="width:7rem;height:7rem; margin-left: 10rem; margin-top:2rem ;">
                            <p>
                                Linh Trung Ward, Thu Duc City, Vietnam
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h4 class="text-uppercase fw-bold mb-4">
                                ABOUT
                            </h4>
                            <p>
                                <a href="#!" class="text-reset">Terms of Use</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Privacy Policy</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h4 class="text-uppercase fw-bold mb-4">
                                FOLLOW US
                            </h4>
                            <p>
                                <a href="https://www.facebook.com/profile.php?id=100088451124148" class="text-reset" target="_blank"><i class="ti-facebook"></i> Facebook</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset"> <i class="ti-twitter"></i> Twitter</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset"><i class="ti-instagram"></i> Instagram</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h4 class="text-uppercase fw-bold mb-4">NEED MORE HELP?</h4>
                            <p><i class="me-3 text-secondary"></i> CONTACT US</p>
                            <p>
                                <i class="me-3 text-secondary"></i>
                                ecommercecsgo@hotmail.com
                            </p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="copyright text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                <p>
                    <img src="/images/steam-logo.png" alt="Steam Symbol" style="width:15px;height:15px;">
                    E-commerce CSGO is not affiliated with or endorsed by value corporation
                </p>
            </div>
            <!-- Copyright -->
        </footer>
    </section>
</div>